@media screen and (min-width: 700px) {


    
    header {
        padding: 1rem 2rem;
    }

    header span {
        font-size: 1.5rem;
    }

    #menu-button {
        display: none;
    }




    nav {
        display: block;
    }

    .navigation {
        display: flex;
        justify-content: center;
    }

    .navigation li {
        border-bottom: none;
    }

    .navigation a {
        padding: 1rem 2rem;
    }




    main {
        padding: 2rem;
    }

    main > section:nth-of-type(2) {
        text-align: center;
    }
    .about-photo {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
    }
    




    .course-buttons {
        flex-direction: row;
        justify-content: center;
    }

    .course-buttons button {
        min-width: 130px;
    }




    #course-container {
        grid-template-columns: repeat(2, 1fr);
    }
    
   




    footer {
        padding: 2rem;
    }
}


@media screen and (min-width: 1000px) {

    #course-container {
        grid-template-columns: repeat(3, 1fr);
    }

    main {
        padding: 2rem 3rem;
    }
}




@media (min-width: 700px) {

    .hero {
        margin-bottom: 3rem;
    }

    .hero > img {
        height: 500px;
    }

    .hero-content h1 {
        font-size: 2.5rem;
    }

    .hero-content p {
        font-size: 1.2rem;
    }



    .event-card {
        padding: 2rem;
    }



    .weather-section {
        grid-template-columns: 1fr 2fr;
        align-items: stretch;
    }

    .current-weather,
    .forecast {
        height: 100%;
        box-sizing: border-box;
    }

    #forecast-container {
        grid-template-columns: repeat(3, 1fr);
    }



    .spotlights {
        grid-template-columns: repeat(3, 1fr);
    }

    .spotlight-card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

}